@import '@/style/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////

/* MENU COMPONENT */
.menu {
  display: flex;
  font-size: rem(15);
  background: $white;
  border-bottom: 1px solid $border;
  flex-direction: row;

  /////////////////////////////////////////////////////////////////////////////////////////

  /* LOGO */
  .logoContainer {
    display: flex;
    height: 48px;
    padding: 0 rem(28);
    align-items: center;

    .logo {
      display: flex;
      height: rem(24);
      white-space: nowrap;
      flex-direction: row;
      align-items: center;

      svg {

        @keyframes logoAnimate {
          0% {
            stroke: $primary;
            fill: $primary;
          }

          50% {
            stroke: #1ad697;
            fill: #1ad697;
          }

          100% {
            stroke: $primary;
            fill: $primary;
          }
        }

        width: rem(30);
        height: rem(30);
        margin-right: rem(6);

        path:nth-child(1) {
          animation: logoAnimate 6s ease-in-out infinite;
          stroke: $primary;
          fill: $primary;
          stroke-width: 1px;
        }

        path:nth-child(2) {
          animation: logoAnimate 6s ease-in-out infinite;
          animation-delay: 2s;
          stroke: $primary;
          fill: $primary;
          stroke-width: 1px;
        }

        path:nth-child(3) {
          animation: logoAnimate 6s ease-in-out infinite;
          animation-delay: 4s;
          stroke: $primary;
          fill: $primary;
          stroke-width: 1px;
        }
      }
    }

    .name {
      font-size: rem(18);
      font-weight: 700;
      color: $black;
    }

    .descr {
      height: rem(28);
      padding-left: rem(13);
      margin-left: rem(13);
      font-size: rem(14);
      line-height: rem(28);
      border-left: 1px solid $gray-2;
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////

  /* ANTD MENU CUSTOMIZATION */
  .navigation {
    padding-bottom: 1px;
    overflow: hidden;
    flex: 1 1 0%;

    .title {
      font-size: rem(15);
    }

    /////////////////////////////////////////////////////////////////////////////////////////

    /* ICON */
    .icon {

      @at-root {
        :global(.ant-menu-submenu-popup) {
          .icon {
            display: none;
          }
        }
      }

      position: relative;
      top: 2px;
      margin-right: rem(10);
      font-size: rem(17);
      color: $gray-5;
      transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    :global(.ant-menu-submenu-title) {
      color: $text;

      &:hover {
        color: $primary;
      }
    }

    :global(.ant-menu-item) {
      > a {
        color: $text;

        &:hover {
          color: $primary;

          .icon {
            color: $primary;
          }
        }
      }
    }

    :global(.ant-menu-horizontal) {
      background: transparent;
      border-bottom: 0;
    }

    :global(.ant-menu-submenu-selected) {
      :global(.ant-menu-submenu-title),
      .icon {
        color: $primary;
      }
    }

    :global(.ant-menu-submenu-active) {
      .icon {
        color: $primary;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////

/* GRAY THEME */
.gray {
  background: $gray-1 !important;
}

/////////////////////////////////////////////////////////////////////////////////////////

/* DARK THEME */
.dark {
  color: $dark-gray-1;
  background: $dark-gray-6 !important;
  border-bottom: 1px solid $dark-gray-4;

  .logoContainer {
    .name {
      color: $white;
    }

    .descr {
      color: $dark-gray-2;
      border-left: 1px solid $dark-gray-4;
    }
  }

  .navigation {
    .icon {
      color: $dark-gray-2;
    }

    :global(.ant-menu-item-group-title) {
      color: darken($dark-gray-3, 10%) !important;
    }

    :global(.ant-menu-submenu-title) {
      color: $dark-gray-2;

      &:hover {
        color: $primary;
      }
    }

    :global(.ant-menu-item) {
      > a {
        color: $dark-gray-2;

        &:hover {
          color: $primary;

          .icon {
            color: $primary;
          }
        }
      }
    }
  }
}
