@import '@/style/mixins.scss';

.air__menuLeft {

  // toggled menu
  @at-root {
    @media (min-width: $sm-min-width) {
      .air__menuLeft__toggled:not(.air__menuLeft__compact) {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        flex: 0 0 80px;

        .air__menuLeft {
          &__outer {
            width: 80px;
            max-width: 80px;
            min-width: 80px;
            flex: 0 0 80px;
          }

          &__logo {
            visibility: hidden;
          }

          &__toggleButton {
            right: rem(20);
          }

          &__user {
            &__name,
            &__role {
              display: none;
            }
          }

          &__banner {
            display: none;
          }

          &__submenu {
            &__active {
              background: $primary;
            }

            > .air__menuLeft__list {
              display: none !important;
            }
          }

          &__link {
            > span {
              display: none;
            }

            &::before {
              top: rem(21);
              right: rem(18);
            }

            &::after {
              top: rem(18);
              right: rem(18);
            }
          }

          &__icon {
            width: rem(40);
            text-align: center;
          }

          &__category {
            text-indent: -999px;

            &::after {
              display: block;
            }
          }
        }
      }
    }
  }

  // compact menu
  @at-root {
    @media (min-width: $sm-min-width) {
      .air__menuLeft__compact {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        flex: 0 0 150px;

        .air__menuLeft {
          &__outer {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            flex: 0 0 150px;
          }

          &__logo {
            &__letter {
              float: none;
              margin: 0 auto;
              text-align: center;

              svg {
                margin: 0;
              }
            }

            &__name {
              display: none;
            }

            &__descr {
              display: none;
            }
          }

          &__toggleButton {
            display: none;
          }

          &__user {
            height: auto;
            text-align: center;

            &__avatar {
              float: none;
              margin-bottom: rem(10);
            }

            &__name,
            &__role {
              display: block;
              margin-left: 0;
            }
          }

          &__banner {
            display: none;
          }

          &__submenu {
            &__active {
              background: $primary;
            }

            > .air__menuLeft__list {
              display: none !important;
            }
          }

          &__link {
            padding: rem(9) rem(20);
            text-align: center;

            > span {
              display: block;
              float: none !important;

              &:global(.badge) {
                display: inline-block;
              }
            }

            &::before {
              top: 50%;
              right: rem(18);
              margin-top: 2px;
            }

            &::after {
              top: 50%;
              right: rem(18);
              margin-top: -1px;
            }
          }

          &__icon {
            display: block;
            width: rem(40);
            margin: 0 auto rem(5);
            text-align: center;
          }

          &__category {
            display: none;
          }
        }
      }
    }
  }

  // unfixed
  @at-root {
    .air__menuLeft__unfixed {
      display: flex;

      .air__menuLeft__outer {
        position: static;
        height: auto;
      }
    }
  }

  // menu shadow
  @at-root {
    .air__menuLeft__shadow {
      box-shadow: $shadow-3;
    }
  }

  // menu themes
  @at-root {
    // gray theme
    .air__menuLeft__gray {
      background: $gray-1;

      .air__menuLeft {
        &__category {
          color: $gray-5;

          &::after {
            background: darken($gray-1, 4%);
          }
        }

        &__link {
          color: $text;

          &:hover {
            color: $white;
            background: $primary;

            &::before,
            &::after {
              background: $white !important;
            }
          }
        }

        &__item {
          &__active {
            .air__menuLeft__link {
              color: $white;
            }
          }
        }

        &__submenu {
          &__active {

            @at-root {
              .air__menuLeft__toggled.air__menuLeft__gray {
                .air__menuLeft__submenu__active {
                  background: $gray-2 !important;
                }
              }
            }

            background: $gray-2;

            > .air__menuLeft__link {
              .air__menuLeft__icon {
                color: $text;
              }

              &:hover {
                .air__menuLeft__icon {
                  color: $white;
                }
              }
            }
          }

          > .air__menuLeft__link {
            &::before,
            &::after {
              background: $gray-5;
            }
          }
        }

        &__user__name {
          color: $text;
        }

        &__user__role {
          color: $gray-5;
        }

        &__user__avatar {
          background: $gray-2 !important;
        }

        &__logo {
          &__letter {
            color: $black;
            border-color: $black;
          }

          &__name {
            color: $black;
          }
        }
      }
    }

    // white theme
    .air__menuLeft__white {
      background: $white;

      .air__menuLeft {
        &__category {
          color: $gray-5;

          &::after {
            background: $gray-1;
          }
        }

        &__link {
          color: $text;

          &:hover {
            color: $white;
            background: $primary;

            &::before,
            &::after {
              background: $white !important;
            }
          }
        }

        &__item {
          &__active {
            .air__menuLeft__link {
              color: $white;
            }
          }
        }

        &__submenu {
          &__active {

            @at-root {
              .air__menuLeft__toggled.air__menuLeft__white {
                .air__menuLeft__submenu__active {
                  background: $gray-1 !important;
                }
              }
            }

            background: $gray-1;

            > .air__menuLeft__link {
              .air__menuLeft__icon {
                color: $text;
              }

              &:hover {
                .air__menuLeft__icon {
                  color: $white;
                }
              }
            }
          }

          > .air__menuLeft__link {
            &::before,
            &::after {
              background: $gray-5;
            }
          }
        }

        &__user__name {
          color: $text;
        }

        &__user__role {
          color: $gray-5;
        }

        &__user__avatar {
          background: $gray-2 !important;
        }

        &__logo {
          &__letter {
            color: $black;
            border-color: $black;
          }

          &__name {
            color: $black;
          }
        }
      }
    }
  }

  width: 256px;
  max-width: 256px;
  min-width: 256px;
  min-height: 100%;
  overflow: hidden;
  background: $dark-gray-6;
  flex: 0 0 256px;

  @media (max-width: $sm-max-width) {

    @at-root {
      .air__menuLeft__mobileToggled {
        transform: translateX(256px);
      }
    }

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 950;
    margin-left: -256px;
    overflow: visible;
    transition: transform 0.2s ease-in-out;

    &__mobileToggleButton {
      display: block !important;
    }

    &__toggleButton {
      display: none;
    }
  }

  // flyout menu styles
  @media (min-width: $sm-min-width) {

    // flyout container
    @at-root {
      .air__menuFlyout {

        @at-root {
          .air__menuFlyoutLeft {
            &:global(.air__menuFlyout__animation-enter-active) {
              transform: translate3d(0, calc(-50% + 40px), 0);
            }
          }
        }

        // flyout themes
        @at-root {
          @media (min-width: $sm-min-width) {
            .air__menuFlyout {
              // black
              &__black {
                &.air__menuFlyout {
                  background: $black;
                }
              }
              //white
              &__white {
                .air__menuLeft {
                  &__link {
                    &:hover {
                      &::before,
                      &::after {
                        background: $primary !important;
                      }
                    }
                  }

                  &__submenu {
                    &__active {
                      > .air__menuLeft__link {
                        &:hover {
                          color: $primary;

                          .air__menuLeft__icon {
                            color: $primary;
                          }
                        }
                      }
                    }
                  }
                }

                &.air__menuFlyout {
                  background: $white;
                  box-shadow: $shadow-2;

                  .air__menuLeft {
                    &__item {
                      border-bottom: 1px solid $gray-1;
                      border-left: 1px solid $gray-1;
                    }

                    &__link {
                      color: $primary;

                      &:hover {
                        color: $primary;
                        background: rgba($gray-3, 0.3);

                        &__active {
                          .air__menuLeft__link {
                            background: rgba($gray-3, 0.3);
                          }
                        }
                      }
                    }
                  }
                }
              }
              // gray
              &__gray {
                .air__menuLeft {
                  &__link {
                    &:hover {
                      &::before,
                      &::after {
                        background: $primary !important;
                      }
                    }
                  }

                  &__submenu {
                    &__active {
                      > .air__menuLeft__link {
                        &:hover {
                          color: $primary;

                          .air__menuLeft__icon {
                            color: $primary;
                          }
                        }
                      }
                    }
                  }
                }

                &.air__menuFlyout {
                  background: $gray-1;
                  box-shadow: $shadow-2;

                  .air__menuLeft {
                    &__item {
                      border-bottom: 1px solid darken($gray-1, 4%);
                      border-left: 1px solid darken($gray-1, 4%);

                      &__active {
                        .air__menuLeft__link {
                          background: rgba($gray-3, 0.3);
                        }
                      }
                    }

                    &__link {
                      color: $primary;

                      &:hover {
                        color: $primary;
                        background: rgba($gray-3, 0.3);
                      }
                    }
                  }
                }
              }
            }
          }
        }

        position: fixed;
        top: 100px;
        z-index: 3000;
        background: $primary;
        transform: translate3d(0, calc(-50% + 20px), 0);
        box-shadow: $shadow-5;
        transition: transform 0.1s ease-in-out !important;
        transition-delay: 0 !important;
        transform-origin: 0 0;

        .air__menuLeft {
          &__list {
            display: block !important;
            height: auto !important;
            max-width: rem(540);
          }

          &__item {
            float: left;
            width: rem(180);
            border-bottom: 1px solid rgba($gray-1, 0.1);
            border-left: 1px solid rgba($gray-1, 0.1);

            &:nth-child(3n + 1) {
              border-left: none;
            }

            &__active {
              .air__menuLeft__link {
                background: rgba($gray-1, 0.1);
              }
            }
          }

          &__link {
            padding: rem(15) rem(30);
            color: $white;

            &:hover {
              background: rgba($gray-1, 0.1);
            }

            > span {
              display: block !important;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }

    &__flyout:not(.air__menuLeft__toggled) {
      .air__menuLeft {
        &__submenu {
          &__active {
            background: $primary;

            > .air__menuLeft__link {
              color: $white;

              .air__menuLeft__icon {
                color: $white;
              }
            }
          }

          > .air__menuLeft__list {
            display: none !important;
          }
        }

        &__link {
          &::before {
            top: 50%;
            right: rem(18);
          }

          &::after {
            top: 50%;
            right: rem(18);
            margin-top: -3px;
          }
        }
      }
    }

    // menu item hover styles
    &__flyout,
    &__compact,
    &__toggled {
      // default
      .air__menuLeft {
        &__link {
          &:hover {
            background: $primary;
          }
        }
      }

      &.air__menuFlyout {
        // black
        &__black {
          .air__menuLeft {
            &__link {
              &:hover {
                background: $black;
              }
            }
          }
        }
        // gray
        &__gray {
          .air__menuLeft {
            &__link {
              &:hover {
                color: $primary;
                background: $gray-1;

                &::before,
                &::after {
                  background: $primary;
                }
              }
            }
          }
        }
        // white
        &__white {
          .air__menuLeft {
            &__link {
              &:hover {
                color: $primary;
                background: $white;

                &::before,
                &::after {
                  background: $primary;
                }
              }
            }
          }
        }
      }
    }
  }

  // fixed container
  &__outer {
    position: fixed;
    top: 0;
    z-index: 950;
    display: flex;
    width: 256px;
    height: 100%;
    max-width: 256px;
    min-width: 256px;
    flex: 0 0 256px;
    flex-direction: column;
  }

  // menu container
  &__container {
    padding-bottom: rem(20);
  }

  &__backdrop {

    @at-root {
      @media (max-width: $sm-max-width) {
        .air__menuLeft__mobileToggled + & {
          opacity: 0.2;
          visibility: visible;
        }
      }
    }

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 945;
    background: $black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }

  // mobile toggle button
  &__mobileToggleButton {
    position: absolute;
    top: rem(142);
    right: rem(-40);
    display: none;
    width: rem(40);
    height: rem(40);
    text-align: center;
    cursor: pointer;
    background: $black;
    border-radius: 0 5px 5px 0;
    box-shadow: $shadow-2;

    span {

      @at-root {
        .air__menuLeft__mobileToggled & {
          background: transparent;

          &::before {
            transform: translateY(5px) rotate(45deg);
          }

          &::after {
            transform: translateY(-5px) rotate(-45deg);
          }
        }
      }

      position: relative;
      top: 5px;
      display: inline-block;
      width: 14px;
      height: 2px;
      background: $white;
      transition: background 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);

      &::before,
      &::after {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: $white;
        content: '';
        transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      }

      &::before {
        top: -5px;
      }

      &::after {
        top: 5px;
      }
    }
  }

  // toggle button
  &__toggleButton {
    @at-root {
      .air__menuLeft__toggled {
        .air__menuLeft__toggleButton {
          transform: rotate(180deg);
        }
      }
    }

    position: absolute;
    top: rem(12);
    right: rem(10);
    z-index: 2;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
      span {
        opacity: 1 !important;
      }
    }

    span {
      @include transition-slow();

      opacity: 0.9;

      &::before,
      &::after {
        position: absolute;
        display: block;
        width: 12px;
        height: 3px;
        background: $primary;
        border-radius: 5px;
        content: '';
      }

      &::before {
        top: 14px;
        left: 6px;
        transform: rotate(-45deg);
      }

      &::after {
        top: 21px;
        left: 6px;
        transform: rotate(45deg);
      }

      &:first-child {
        position: relative;
        left: 3px;
      }

      &:last-child {
        position: relative;
        left: 11px;
        opacity: 0.5;
      }
    }
  }

  //logo
  &__logo {
    display: block;
    height: rem(64);
    padding: rem(15) rem(20);
    overflow: hidden;
    line-height: 1;

    &__letter {
      float: left;

      svg {

        @keyframes logoAnimate {
          0% {
            stroke: $primary;
            fill: $primary;
          }

          50% {
            stroke: #1ad697;
            fill: #1ad697;
          }

          100% {
            stroke: $primary;
            fill: $primary;
          }
        }

        width: rem(30);
        height: rem(30);
        margin-right: rem(6);

        path:nth-child(1) {
          animation: logoAnimate 6s ease-in-out infinite;
          stroke: $primary;
          fill: $primary;
          stroke-width: 1px;
        }

        path:nth-child(2) {
          animation: logoAnimate 6s ease-in-out infinite;
          animation-delay: 2s;
          stroke: $primary;
          fill: $primary;
          stroke-width: 1px;
        }

        path:nth-child(3) {
          animation: logoAnimate 6s ease-in-out infinite;
          animation-delay: 4s;
          stroke: $primary;
          fill: $primary;
          stroke-width: 1px;
        }
      }
    }

    &__name {
      margin-left: rem(40);
      font-size: rem(18);
      font-weight: 700;
      color: $white;
    }

    &__descr {
      margin-left: rem(40);
      font-size: 12px;
      letter-spacing: 1px;
      color: $gray-4;
      text-transform: uppercase;
    }
  }

  // user
  &__user {
    display: block;
    height: rem(72);
    padding: rem(15) rem(20);
    line-height: 1.3;

    &__avatar {
      float: left;
      background: $dark-gray-4 !important;
    }

    &__name {
      margin-top: rem(2);
      margin-left: rem(60);
      overflow: hidden;
      color: $white;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__role {
      margin-left: rem(60);
      overflow: hidden;
      color: $gray-6;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  // banner
  &__banner {
    padding: rem(20);
    margin: rem(40) rem(20) rem(20);
    color: $white;
    background: $primary;
    background: linear-gradient(45deg, $primary 0%, $primary 100%);
    border-radius: 12px;
  }

  // menu items
  &__list {
    padding-left: 0;
    margin: 0;
    list-style: none;

    .air__menuLeft__list {
      .air__menuLeft__link {
        padding-left: rem(49);
      }
    }
  }

  &__category {
    position: relative;
    padding: rem(14) rem(20);
    overflow: hidden;
    font-size: rem(12);
    letter-spacing: 1px;
    color: $dark-gray-2;
    text-transform: uppercase;

    &::after {
      position: absolute;
      top: 50%;
      right: rem(20);
      left: rem(20);
      display: none;
      height: 1px;
      background: darken($text, 20%);
      content: '';
    }
  }

  &__item {
    display: block;

    &__active {
      > .air__menuLeft__link {
        color: $white;
        background: $primary;

        .air__menuLeft__icon {
          color: $white;
        }
      }
    }
  }

  &__submenu {
    > .air__menuLeft__link {
      position: relative;

      &::before,
      &::after {
        @include transition-bg();

        position: absolute;
        top: rem(20);
        right: rem(20);
        display: block;
        width: 6px;
        height: 2px;
        background: $gray-6;
        content: '';
        transform: rotate(-45deg);
      }

      &::after {
        right: rem(24);
        transform: rotate(45deg);
      }
    }

    &__active {
      background: darken($black, 4%);

      > .air__menuLeft__link {
        color: $white;

        &::before,
        &::after {
          background: $white;
        }

        .air__menuLeft__icon {
          color: $white;
        }
      }

      > .air__menuLeft__list {
        display: block !important;
      }
    }

    .air__menuLeft__list {
      display: none;
      padding-bottom: rem(10);
    }
  }

  &__link {
    display: block;
    padding: rem(9) rem(40) rem(9) rem(20);
    font-size: rem(15);
    color: $gray-5;

    &:hover,
    &:focus {
      color: $white;

      &::before,
      &::after {
        background: $white;
      }
    }
  }

  &__icon {
    display: inline-block;
    width: rem(25);
  }
}
